

.maincolor{
    background-color: #ffc866;
}

.socialmedia{
    height: 25px;
}

.logoimage{
    height: 30px;
}

.cookingimg{
    max-height:300px;
    background-repeat: no-repeat;
    background-size:cover;
    width: 100vw;
}

.bar{
    height: 10px;
    width: 100vw;
}

.secondarycolor{
    color: #f9b443;
}

.titlefont{
    font-size: 22px
}

.muli{
    font-family: muli, sans-serif;
}

.listbuttons{
    float:left;
}

.buttoncolor{
    background-color: #e8e8e8;
}

.roundedcorners{
    border-radius: 25px;
}

.buttonfont{
    font-size: 18px;
}

#submitbttn{
    width:120px;
    margin: auto;
    border-style:solid;
    border-width: 2px;
    border-color: #f9b443;
}

#submitbttn:hover{
    width:120px;
    margin: auto;
    border-style:solid;
    border-width: 2px;
    border-color: #f9b443;
    color: #e8e8e8;
    background-color: #f9b443;
}

.pointercursor{
    cursor: pointer
}

a:hover {
    text-decoration:none;
}

.clickedcolors{
    background-color: #ffc866;
    color:#e8e8e8;
}

.submit {
    text-decoration: inherit;
}

button:focus {
    outline:0;
}

.firstImg {
    max-height:450px;
    /* background-image: url(../Images/cookingimage.jpg); */
    background-repeat: no-repeat;
    background-size:cover;
    width: 100vw;
    border-bottom: 10px solid #ffc866;
}

h5 {
    color:#ffc866;
}

#maincolor {
    background-color: #ffc866;
    height: 90px;
}

.logoimage {
    height: 30px;
}

#startCookingBtn, #findRecipeBtn {
    border-radius: 35px;
    width: 190px;
    height: 50px; 
    padding-top:8px;
    font-size:23px;
    color: #f9b443;
    font-weight: 400;
}

#btnDiv1, #btnDiv2 {
    margin-top: -150px;
}

#secondC {
    overflow: scroll;
    white-space: nowrap;
}

.img {
    margin: 10px;
}

@media screen and (max-width: 575px) {
    #btnDiv1 {
        margin-top: -80px;
    }
}

#footerHome {
    height: 100px;
}

.modal {
    align-content: center;
    align-self: center;

}

.rightfloat{
    float:right
}