.maincolor{
    background-color: #ffc866;
}

.logoimage{
    height: 30px;
}

.cookingimg{
    max-height:300px;
    background-repeat: no-repeat;
    background-size:cover;
    width: 100vw;
}

.bar{
    height: 10px;
    width: 100vw;
}

.secondarycolor{
    color: #f9b443;
}

.titlefont{
    font-size: 22px
}

.muli{
    font-family: muli, sans-serif;
}

.roundedcorners{
    border-radius: 25px;
}

.resulting{
    width:100%;
    max-height: 150px;
    object-fit:none;
}

.buttonfont{
    font-size: 18px;
}

.recipedescription{
    /* font: 14px;
    max-height:70px; */
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.box{
    height: 250px;
    width: 250px;
}

.mwidth{
    max-width: 999px;
}

.firstImg {
    max-height:450px;
    background-repeat: no-repeat;
    background-size:cover;
    width: 100vw;
    border-bottom: 10px solid #ffc866;
}

.logoimage {
    height: 30px;
}

#startCookingBtn, #findRecipeBtn {
    border-radius: 35px;
    width: 190px;
    height: 50px; 
    padding-top:8px;
    font-size:23px;
    color: #f9b443;
    font-weight: 400;
    }

#btnDiv1, #btnDiv2 {
    margin-top: -150px;
}

#secondC {
    overflow: scroll;
    white-space: nowrap;
}

a:hover {
    text-decoration:none;
    background-color:transparent;
}

.blueline:hover{
    background-color: #ffc866;
    color:#e8e8e8;
}

.blueline{
    border-color:#ffc866;
    border-width:2px;
    border-style:solid
}

#maincolor {
    background-color: #ffc866;
    height: 90px;
}

.img {
    margin: 10px;
}

@media screen and (max-width: 575px) {
    #btnDiv1 {
        margin-top: -80px;
    }
}

#footerHome {
    height: 100px;
}

.modal {
    align-content: center;
    align-self: center;

}

.rightfloat{
    float:right
}